.footer{
    background-color: #2E2F42;
}
.logo-d{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    text-decoration: none;
}
.footer-text{
    color: #F4F4FD;
}