.hero{
    background-color: #2E2F42;
}
.hero-text{
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.hero-btn{
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;

}
.hero-btn:hover, .hero-btn:focus{
    background-color: #404BBF;
}
.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}