.portfolio-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: #2E2F42;
}
.portfolio-case{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
   
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}
.portfolio img{
    display: block
}