.portfolio-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    color: #2E2F42;
}
.portfolio-case{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 10px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    gap: 72px;
}